* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #65b177;
  background: linear-gradient(179deg, rgb(101, 177, 119) 0%, rgb(78, 163, 197) 100%);
  background-repeat: no-repeat;
  max-height: 100%;
  min-height: 980px;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin: 10px;
}

textarea {
  resize: none;
  height: 5rem;
  border: 1px solid silver;
  font-family: sans-serif;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  padding: 0.4rem;
  outline: none;
}

h1 {
  text-transform: uppercase;
}

h1, span, p, label {
  color: #c0d7c6;
}

input,
button {
  display: block;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  background: #51a5bb;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

button:disabled {
  pointer-events: none;
}

input:focus {
  outline: none;
}

.mr-1 {
  margin-right: 10px;
}

.container {
  max-width: 500px;
  margin: 50px auto;
}

.add-todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}
.add-todo-form__button {
  width: 25%;
  height: 50%;
  border-radius: 0.5rem;
  margin-bottom: 5px;
}
.add-todo-form__button_removeAll {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.add-todo-form__button_submit {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content,
.add-todo-form__input {
  width: 100%;
}

.content,
.todo-item {
  position: relative;
}

.absolute-div {
  position: absolute;
  top: initial;
  left: initial;
  bottom: -20px;
  right: 15px;
  background: white;
  padding: 5px;
}

.todo-list {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 3px solid silver;
}

.todo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  padding: 10px;
  padding-left: 5rem;
  border: 2px solid #a2cdac;
  border-radius: 0.6rem;
}
.todo-item__number, .todo-item__completed {
  position: absolute;
  top: 50%;
  left: initial;
  bottom: initial;
  right: initial;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.todo-item__number {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 5px;
  bottom: initial;
  right: initial;
  border: 2px solid #c0d7c6;
  color: #cdd0ce;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.todo-item__completed {
  left: 45px;
}
.todo-item__text {
  max-width: 100%;
  text-wrap: wrap;
  overflow: hidden;
  color: #cdd0ce;
  font-size: 1.2rem;
}
.todo-item__delBtn {
  margin-left: auto;
}
.todo-item:last-child {
  margin-bottom: 0;
}
.todo-item_completed {
  background: #a2cdac;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.todo-item_completed::before {
  content: "";
  width: 100%;
  height: 1px;
  border-radius: initial;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: initial;
  right: initial;
  background: black;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

.todo-item__completed,
.todo-filter-label__input {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.todo-filter-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.todo-filter-label__input {
  margin-left: 1rem;
}
.todo-filter-label_hidden {
  display: none;
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
    min-height: 100lvh;
  }
  .add-todo-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-todo-form__input {
    width: 100%;
    margin: 2rem 0 4rem 0;
  }
  .add-todo-form__button {
    width: 100%;
  }
  .absolute-div {
    bottom: 42px;
  }
}
@media (max-width: 320px) {
  body {
    max-width: 320px;
  }
}/*# sourceMappingURL=main.css.map */